.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: rgba(253, 242, 248, 0.5);
    padding: 1rem;
    border-radius: 0.375rem;
}

.titleArea {
    width: 100%;
    max-width: 56rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #db2777;
    margin-bottom: 1rem;
    text-align: center;
}

.titleLine {
    width: 100%;
    border-color: #f9a8d4;
    margin-bottom: 1rem;
}

.imageArea {
    width: 100%;
    max-width: 42rem;
    margin-bottom: 0.75rem;
}

.imageWrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 4/1;
}
.videoArea {
    width: 100%;
    max-width: 56rem;
    margin-bottom: 0.75rem;
}
.videoWrapper {
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    border-radius: 0.375rem;
}
.videoTitle {
    font-size: 1rem;
    font-weight: 600;
    color: #374151;
    margin-bottom: 0.75rem;
    text-align: center;
}
.contentArea {
    width: 100%;
    max-width: 56rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.videoPlayer {
    max-width: 12rem;
}

.languageSection {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.languageTitle {
    font-size: 1rem;
    color: #374151;
    text-align: center;
    font-weight: 600;
}

.languageText {
    font-size: 0.875rem;
    color: #4b5563;
    text-align: center;
}

.link {
    display: block;
    text-align: center;
    color: #db2777;
    text-decoration: underline;
    font-size: 0.875rem;
    background-color: rgba(253, 242, 248, 0.5);
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid #fbcfe8;
    word-break: break-all;
}

.link:hover {
    color: #be185d;
}

.note {
    font-size: 0.75rem;
    color: #6b7280;
    text-align: center;
}

.warning {
    font-size: 0.75rem;
    color: #6b7280;
    text-align: center;
    background-color: rgba(254, 252, 232, 0.8);
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid #fef3c7;
}

.infoSection {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.infoItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.label {
    font-weight: 600;
    color: #1f2937;
}

.value {
    color: #db2777;
}

.contactValue {
    color: #db2777;
    border-radius: 0.5rem;
    background-color: rgba(254, 252, 232, 0.8);
    padding: 0.25rem;
    border: 1px solid #db2777;
}

.divider {
    width: 100%;
    border-color: #f9a8d4;
    margin: 0.75rem 0;
}

.paymentSection {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.75rem;
    border-radius: 0.5rem;
    text-align: center;
}

.paymentTitle {
    font-weight: 600;
    color: #1f2937;
}

.paymentMethods {
    color: #db2777;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 0.5rem; */
    margin-top: 0.25rem;
}

/* 响应式设计 */
@media (min-width: 640px) {
    .container {
        padding: 2rem;
        gap: 1.5rem;
    }

    .title {
        font-size: 1.875rem;
        margin-bottom: 1.5rem;
    }

    .titleLine {
        margin-bottom: 1.5rem;
    }

    .imageArea {
        margin-bottom: 1rem;
    }

    .imageWrapper {
        aspect-ratio: 5/1;
    }

    .contentArea {
        gap: 1rem;
    }

    .languageTitle {
        font-size: 1.125rem;
    }

    .languageText {
        font-size: 1rem;
    }

    .link {
        font-size: 1rem;
    }

    .warning {
        font-size: 0.875rem;
    }

    .divider {
        margin: 1rem 0;
    }

    .paymentMethods {
        flex-direction: row;
        gap: 0.5rem;
    }

    .separator {
        display: inline;
    }
}

@media (min-width: 768px) {
    .title {
        font-size: 2.25rem;
    }
}

@media (min-width: 1024px) {
    .title {
        font-size: 2.5rem;
    }
}
